{% extends 'home.html' %}

{% block title %}Admission Form{% endblock title %}

{% block main %}

<style>

    .form{
        background-image: linear-gradient(to right, rgb(173, 235, 255),rgb(181, 255, 217));
        width: 50%;
        height: fit-content;
        border-radius: 1vw;
        box-shadow: 0px 3px 5px black;
        margin: 1vw;
        display: flex;
        padding: 2vw;
        flex-direction: column;
 
        align-content: center;
    }
    .main{
        justify-content: center;
        overflow-y: auto;
    }
    html, body 
    { 
     height: 100%;
     overflow: auto;
    }
    #title{
        border: 2px solid black;
        display: inline;
        height: 3.5vw;
        width: 100%;
        text-align: center;
        border-radius: 1vw;
        padding: 0.5vw;
        margin-bottom: 2vw;
    }
    #fileinput{
        width: 10vw;
        height: 3.5vw;
    }
    .subdiv{
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
        padding: 1vw;
        margin: 2.5vw 1vw;
        border-radius: 0.5vw;
    }
    @media screen and (max-width:600px){
        .form{
            width: 90vw;
            font-size: 20px;
        }
        .subdiv{
            flex-direction: column;
        }
        #title{
            border: 2px solid black;
            display: inline;
            height: 5vh;
            width: auto;
            text-align: center;
            border-radius: 1vw;
            padding: 0.5vw;
            margin-bottom: 2vw;
            font-size: 23px;
            font-weight: bold;
        }
        #fileinput{
            width: auto;
            height: auto;
        }
       
       
      
      
    }
</style>

<div class="form">
    {% for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hurray !</strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <h1 id="title">Student Admission Form</h1>
    <form action="/newstudentsave/" method="post"> {% csrf_token %}

    <div class="subdiv">
    <label for="">Full Name</label>
    <input name="name" type="text" class="inputbox" required>
    <label for="">Mobile</label>
<input name="mobile" type="text" class="inputbox" required>
 
</div>

<div class="subdiv">
    <label for="">Picture</label>
    <input name="picture" id="fileinput" type="file">
<label for="">Gender</label>
<select name="gender" id="gender" required>
    <option value="male">Male</option>
    <option value="female">Female</option>
</select>

</div>
<div class="subdiv">
    <label for="">Class</label>
    <select name="standard" id="class" required>

        {% for standard in standards %}
        <option value="{{standard.standard}}">{{standard.standard}}</option>
        {% endfor %}
    </select>

    <label for="">School or College</label>
    <select name="school" id="school">
        <option value selected disabled> -- select school -- </option>
        {% for school in schools %}
        <option value="{{school.school_name}}">{{school.school_name}}</option>
        {% endfor %}
    </select>

</div>


<div class="subdiv">
<label for="">Address</label>
<select name="address" id="address" >
    {% for address in addresses %}
    <option value="{{address.address}}">{{address.address}}</option>
    {% endfor %}
</select>
<label for="">Date Of Birth</label>
<input name="dob" type="date">
</div>

<div class="subdiv">
<label for="">Computer Timing</label>
<select name="computer_timing" id="">
    <option value selected disabled> -- Select Time -- </option>
{% for batche in batches %}
{% if batche.subject == 'Computer' %}
<option {% if batche.total_students >= batche.max_capacity %} style='background-color: rgb(255, 126, 126);'{% endif %} value="{{batche.start_time}}">{{batche.start_time}} To {{batche.end_time}}{% if batche.total_students >= batche.max_capacity %} (Full){% endif %} </option>
{% endif %}
{% endfor %}
<option value="">Not applicable</option>
</select>
<label for="">English Timing</label>
<select name="english_timing" id="">
    <option value selected disabled> -- Select Time -- </option>
    {% for batche in batches %}
    {% if batche.subject == 'English' %}
    <option {% if batche.total_students >= batche.max_capacity %} style='background-color: rgb(255, 126, 126);'{% endif %} value="{{batche.start_time}}">{{batche.start_time}} To {{batche.end_time}} {% if batche.total_students >= batche.max_capacity %} (Full){% endif %} </option>
    {% endif %}
    {% endfor %}
<option value="">Not applicable</option>
</select>


</div>

<div class="subdiv">
<label for="">Maktab Timing</label>
<select name="maktab_timing" id="">
    <option value selected disabled> -- Select Time -- </option>
    {% for batche in batches %}
{% if batche.subject == 'Arabic' %}
<option {% if batche.total_students >= batche.max_capacity %} style='background-color: rgb(255, 126, 126);'{% endif %} value="{{batche.start_time}}">{{batche.start_time}} To {{batche.end_time}} {% if batche.total_students >= batche.max_capacity %} (Full){% endif %} </option>
{% endif %}
{% endfor %}
    <option value="">Not applicable</option>
    </select>

<label for="">Deposite</label>
<input name="deposite" type="number" class="inputbox" required>
</div>

<button type="submit" class='sidebarbtn'>Save</button>

</form>
</div>

{% endblock main %}