{% extends 'students.html' %}

{% block content %}
<div class="sortingheader">
    <label for="">Sort By - </label>
    <select name="" id="">
      <option value="">A-Z</option>
      <option value="">Z-A</option>
    </select>
    <form action='/search/' class="d-flex" role="search">
      <input name='query' method='get' class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button type="submit" class="btn btn-success">Search</button>
    </form>
    <a href="/addnewstudent/"><button type="button" class="btn btn-primary">Add Student</button></a>
  </div>
  <div class="space">l</div>
  {% for student in students%}
  {% for id in searched %}
  {% if student.id == id%}
  <div class="studentdiv" 
  {% if student.computer_timing != None and student.maktab_timing == None and student.english_timing == None or  student.computer_timing == None and student.maktab_timing != None and student.english_timing == None or student.computer_timing == None and student.maktab_timing == None and student.english_timing != None %}
   style='background-color: rgb(253, 253, 156);' {% endif %}
   
   {% if student.computer_timing != None and student.maktab_timing != None and student.english_timing != None %} style='background-color: rgb(255, 255, 255);' {% endif %}

   {% if student.computer_timing == None and student.maktab_timing == None and student.english_timing == None %} style='background-color: rgb(255, 126, 126);' {% endif %}


   {% if student.computer_timing != None and student.maktab_timing != None and student.english_timing == None or student.computer_timing == None and student.maktab_timing != None and student.english_timing != None or student.computer_timing != None and student.maktab_timing == None and student.english_timing != None%} style='background-color: rgb(156, 243, 253);' {% endif %}>

   
    <label for=""><strong>{{student.id}}</strong></label>
      <img class="studentimage" src="https://bit.ly/3Ug0TVr" alt="">
      <label for=""> <strong> {{student.full_name}} </strong></label>
    
    <label class="crntcourse" for="">Current Course : {{student.current_course}} </label>
    <a href="/editstudent/{{student.id}}"><button class='smallbtn' type="submit" id='editbtn'>Edit</button></a>
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}

{% endblock content %}